@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
/* This is to provide the font used in the whole website */

#wrapper{
    display: grid;
    text-align: center;
    grid-template-areas: "bdsc innergridnav innergridnav"
    "innerbody innerbody innerbody";
    font-family: 'Poppins', sans-serif;
}

#innergridnav, #home, #about, #culture, #gallery, #hobbies, #innerbody{
    border:1px solid peachpuff;
}

#bdsc{
    grid-area: bdsc;
    background-color: peachpuff;
    padding-top: 10px
}

#innergridnav{
    grid-area: innergridnav;
    background-color: peachpuff;
    text-align: center;
    font-size: 150%
}

#innerbody{
    /* Innergrid for the body */
    grid-area: innerbody;
    background-color: #B86F52;
    text-align: left;
    border-radius: 1px;
    color: white;
    font-size: 100%
}

#innergridnav{
    display: grid;
    grid-template-areas: "home about culture gallery hobbies";
    padding: 6px;
    grid-column-gap: 60px;
    text-align: center;
    color: #707070
}  

#home{
    grid-area: home;
    text-align: center;
    color: #707070;
}

#about{
    grid-area: about;
    text-align: center
}

#culture{
    grid-area: culture;
    text-align: center
}

#gallery{
    grid-area: gallery;
    text-align: center
}

#hobbies{
    grid-area: hobbies;
    text-align: center
}

#innerbody{
    /* Innergrid for the body */
    display: grid;
    grid-template-areas: "pepeha culturephoto family";
    padding: 30px;
    grid-column-gap: 45px;
    padding-bottom: 120px
}   

#pepeha{
    /* This section is the Pepeha */
    grid-area: pepeha;
    padding-left: 49px;
    text-align: left;
    font-size: 22px;
}
#culturephoto{
    /* This section is the cultural photo */
    grid-area: culturephoto;
    text-align: center;
    padding-top: 110px
}
#family{
    /* This section is the text about Luke's family */
    grid-area: family;
    padding-right: 49px;
    text-align: left;
    font-size: 17.5px
}

a{
    /* This text makes the links not underlined and a different colour */
    text-decoration:none;
    color:#707070;
}
